body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
}
.input{
  color: #a8a8a8 !important;
  background-color: #2A2A2A;
  border-color: #a8a8a8;
  border-width: 1px;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  border-radius: 4px;
  margin-right: 2px;
  opacity: 0.6;
  filter: invert(0.8);
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {
  opacity: 1
}
